.page{
    background-color:#5F0A0A;
    
}
.banniére{
    background-color:#A8A8A8;
    color:#5F0A0A;
    text-align:center;
    margin:auto;
    border:none;
    border-radius:30px;
}

.titre{
    font-style:normal;
    font-size:40px;
}

.description{
    font-style:italic;
    font-size:20px
}

.uplink{
    padding:20px 56px 20px 56px;
    margin:5px 3px 0px 0px;
    border:none;
    border-radius:90px;
    background-color: #A8A8A8 ;
    color:#5F0A0A;
}



                                                                /*header*/



                                                                /*body*/
                                    
footer{
    background-color:#A8A8A8;
    color:#5F0A0A;
    text-align:center;
    margin:auto;
    border:none;
    border-radius:30px;
}
                                                            /*footer*/