.page{
    background-color:#5F0A0A;
    
}
.banniére{
    background-color:#A8A8A8;
    color:#5F0A0A;
    text-align:center;
    margin:auto;
    border:none;

}
header{
    position:fixed;
    top:0%;
    right:0%;
    left:0%;
    width:100%;


}

.titre{
    font-style:normal;
    font-size:40px;
}

.description{
    font-style:italic;
    font-size:20px
}

.uplink{
    margin:5px 1px 20px 55px;
    font-size: 18px;
    border:none;
    background-color: #5F0A0A ;
    color:#A8A8A8;
}
nav{
    border-bottom: #A8A8A8 solid 1px;
}

#parametre{   /*bouton paramétre à changer aussi*/
    width:50px;
    height:50px;
    top:40px;
    left:95%;
    position:fixed;
}

#parametre:hover{
    content:url("image/menu-anim.png");
    width:40px;
    height:40px;
    top:48px;
    left:95.5%;
}

#home{  /*bouton home à changer en rouge*/
    width:40px;
    height:40px;
    top:43px;
    right:95%;
    position:fixed;

}

.description{
    padding-bottom:20px;
}

.uplink:hover{
    border-bottom:#A8A8A8 solid 0.5px;
    font-weight:bold;
}
.uplink:active{
    font-size:16.5px;
}


                                                                /*header*/
.prmtr{
    position: fixed;
    top: 90px;
    right:0%;
    left: 70%;
    transform: translate(42.5%, 0%) scale(0);
    transition: 200ms ease-in-out;
    border: 0.5px solid grey;
    box-shadow: 0px 0px 2.5px 2.5px grey;
    z-index: 10;
    background-color: #A8A8A8;
    width: 300px;
    height:20%;
    max-width: 80%;
    border-radius:10px;
}
#pmtrp.active{
    transform: translate(42.5%, 0%) scale(1);
}
#sitesearch{}

#search{}

.opt{}

                                                                /*menu*/

body{
    position:relative;
    top:400px;
}

.swtch{
    width:400px;
    height:400px;
}

.fleche{
    width:40px;
    height:40px;
    margin:10px;
}

.fil_actualité{
    text-align: center;
}
                                                                /*body*/
                                    
footer{
    background-color:#A8A8A8;
    color:#5F0A0A;
    text-align:center;
    margin:auto;
    border:none;
    border-radius:30px;
}

.info{
    width:30px;
    height:30px;
    margin: 0 10px 0px 10px;
}

.info:hover{
    opacity: 0.7;
}
.info:active{
    width:27px;
    height:27px;
}

                                                            /*footer*/
.popup{
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-42.5%, -42.5%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid grey;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%
}

#ppup.active{
    transform: translate(-42.5%, -42.5%) scale(1);
}
.popup-header{
    padding: 10x 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .titlePopup {
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-header .btn-close {
    font-size: 1.25rem;
    font-weight: bold;
}

.popu-body{
    padding: 10px 15px;
}

.btn-close{
    width:20px;
    height:20px;
    margin-right:3px;

}

#overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active {

    opacity: 1;
    pointer-events: all;
}

.titlePopup{
    padding-left: 35%;
}



                                                            /*popup*/
